.menuPage {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 100%;
    height: 100%;
  }

  .chain {
    width: 90%;
    height: 10%;
  }

  .bord {
    width: 90%;
    height: 33%;
    position: relative;

    .bord__menuItem {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, 55%);
      width: 75%;
      height: 20%;
    }


    .bord__menuItems {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 7%;

      .bord__menuItem {
        position: relative;
        width: 75%;
        height: 20%;

        &-info {
          height: 40%;
          width: 70%;
          margin: 10% auto;
          position: relative;

          .bord__menuItem-content {
            flex-direction: column;
            justify-content: center;
          }
        }

        &-more {
          position: relative;
          height: 15%;
          width: 25%;
          margin: 10% auto;
        }
      }

      .bord__menuItem-content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 17%;

        img {
          width: 15%;
          height: 40%;
        }
      }

      .bord__menuItem-text {
        width: 100%;
        text-align: center;
        color: #a48f00;
        font-weight: 900;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
