.frensClaim {
  height: 180px;
  border: 5px solid rgba($color: #000000, $alpha: 0.2);
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  &-amount {
    font-size: 30px;
    font-weight: bold;
  }
  &-button {
    background-color: rgb(8, 192, 8);
    color: #fff;
    font-size: 14px;
  }
}
